name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npm ci
      - uses: tpluscode/setup-lando@v0.1.2
        with:
          version: v3.23.3
          healthcheck: http://db.talos.lndo.site/
          timeout: 30000
      - run: npx c8 --reporter lcovonly --reporter text npm test
      - name: Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npm ci
      - uses: tpluscode/setup-lando@v0.1.2
        with:
          version: v3.23.3
          healthcheck: http://db.talos.lndo.site/
          timeout: 30000
      - run: npx tsc
      - run: npx talos put test-resources --endpoint http://db.talos.lndo.site/repositories/tests --base http://talos.lndo.site -u minos -p password --remote-endpoint lindas=https://test.lindas.admin.ch/x-query

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npm ci
      - run: npx wsrun -mc prepack
      - name: Smoke test bin
        run: node ./packages/cli/bin/talos.js help

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npm ci
      - run: yarn lint
