name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npm ci
      - uses: lando/setup-lando@v3
      - run: lando start
      - run: npx wait-on http://db.talos.lndo.site/ -t 300000
      - run: npx c8 --reporter lcovonly --reporter text npm test
      - name: Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npm ci
      - uses: lando/setup-lando@v3
      - run: lando start
      - run: npx wait-on http://db.talos.lndo.site/ -t 300000
      - run: npx tsc
      - run: npx talos put test-resources --endpoint http://db.talos.lndo.site/repositories/tests --base http://talos.lndo.site -u minos -p password --remote-endpoint lindas=https://test.lindas.admin.ch/x-query

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npm ci
      - run: npx wsrun -mc prepack
      - name: Smoke test bin
        run: node ./packages/cli/bin/talos.js help

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
      - run: npm ci
      - run: yarn lint
